body {
  background: #f1f3f5;
  padding: 1rem;
}

.length {
  color: red;
}

.title {
  font-size: 2.828rem;
  line-height: 3rem;
}

.title--red {
  color: #c92a2a;
}

@media only screen and (min-width: 700px) {
  .measure {
    margin: 0 auto;
    max-width: 27em;
  }
  .title {
    font-size: 4.242rem;
    line-height: 4.5rem;
  }
}
@media only screen and (min-width: 900px) {
  .title {
    font-size: 6.5rem;
    line-height: 6rem;
  }
}
